VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Ratio Juris"
            VALUE "FileDescription", "PDF Integrity Friend"
            VALUE "FileVersion", "1.0-Beta"
            VALUE "InternalName", "pdf-integrity-friend"
            VALUE "OriginalFilename", "pdf-integrity-friend.exe"
            VALUE "ProductName", "PDF Integrity Friend"
            VALUE "ProductVersion", "1.0-Beta"
            VALUE "Publisher", "Ratio Juris"
            VALUE "Comments",
                  "Professional PDF signing and RFC3161 timestamping application."
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
